            <nav>
                <ul class="navbar">
                    <div class="navleft">
                        <a href="/brands"><li>Catálogos</li></a>
                    </div>
                    <div class="navcenter">
                        <a class="cherry" href="/"><li class="cherry">Cherry Kiss<img class="logo" src="img/cherrykiss2.png"></li></a>
                    </div>
                    <div class="navright">
                        <a href="#"><li>Registrarse</li></a>
                        <a href="#"><li>Iniciar sesión</li></a>
                    </div>
                </ul>
            </nav>  