<html lang="es">
    <%- include ('./partials/head') %>
    <body>
        <header>
            <%- include ('./partials/nav') %>
            <div class="search-bar">
                <textarea placeholder="Buscar"></textarea>
            </div>
        </header>
        <main>
            <section>
                <h2>Marcas</h2>
            </section>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>