
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7A0000;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
}

.logo {
    padding: 7% 10%;
    width: 3em;
    position: absolute;
    top: 0em;
    transition: all 1s ease 1s;
}

main {
    background-color: #f6eaea;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 2em;
    display: block;
    padding: 2em;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: #FEC2DC;
    color: black;
    padding: 1em;
    border-radius: 0.6em;
    transition-duration: 0.5s, 4s;
}

li:hover img.logo {
    transform: rotate(360deg);
    transition-duration: 1s;
    top: 0.7em;
    margin: 1em;
}

textarea {
    margin: 0em 15em;
    align-content: center;
    resize: none;
    overflow: hidden;
    width: 60vw;
    padding: 0.5em;
    background-color: #F1F1F1;
    border-radius: 1em;
}

p {
    text-align: center;
}

li.cherry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    position: relative;
}

a.cherry {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.carousel {
    margin: 1vw 0vw;
    overflow: hidden;
    position: relative;
}

.carousel-track {
  display: flex;
  padding: 1em;
  width: 100vw;
  transition: transform 0.5s ease;
  align-items: center;
}

.slide img{
    width: 100vw;
    height: 70vh;
    object-fit: contain;
}

button {
    position: absolute;
    top: 50%;
    font-size: 2.5em;
    border: none;
    background-color: #f6eaea00;
    transition: all 0.3s ease 0.3s;
}

button:hover {
    font-size: 2.7em;
    transition-duration: 0.5s;
    text-shadow: 0px 0px 2px #7a0000;
}

button#prev {
    left: 2em;
}

button#next {
    right: 2em;
}

.slide {
    background-color: #F6EAEA;
}

.search-bar {
    text-align: center;
}

.brands.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0em;
    flex-wrap: wrap;
}

.brands h2{
    padding: 1em 2em;
}

.brands.logos .brand img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin: 1em;
}

.brand p {
    transition: all 0.5s ease 0.5s;
}

.brand:hover p {
    font-size: 0px;
    transition: all 0.5s ease 0.5s;
}


.brands .brand{
    transition: all 0.5s ease 0.5s;
}

.brand img:hover{
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 15px #7A0000;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 20ms;
}
 .brands.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
  flex-wrap: wrap;
}

.brands h2 {
  padding: 1em 2em;
}

.brands.logos .brand {
  margin: 2em;
  transition: all 0.3s ease;
  text-align: center;
}
