:root {
    --main-color: #7A0000;
    --secondary-color: #FEC2DC;
    --main-bg-color: #F6EAEA;
    --white: #f1f1f1;
    --logo-font: "Meow Script", cursive;
    --font-weight: 400;
    --body-font: "LXGW WenKai Mono TC", monospace;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    font-weight: var(--font-weight);
    font-style: normal;
    color: var(--main-color);
}

main {
    background-color: var(--main-bg-color);
}


/* ### NAV */
nav{
    position: relative;
    margin: 1em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li {
    font-size: 2em;
    display: block;
    padding: 1em;
}

a {
    text-decoration: none;
}

.navcenter {
    position: absolute;
    left: calc(50% - 150px);
}

li.cherry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 102px;
}

.cherry {
    font-family: var(--logo-font);
    font-weight: var(--font-weight);
    font-style: normal;
}

li:hover {
    box-shadow: 3px 2px 12px 1px var(--secondary-color);
    border-radius: 0.6em;
    transition-duration: 0.5s, 4s;
}

li:hover img.logo {
    transform: rotate(360deg);
    transition-duration: 1s;
    top: 0.8em;
    margin: 1em;
}

textarea {
    margin: 0em 15em;
    align-content: center;
    resize: none;
    overflow: hidden;
    width: 60vw;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 1em;
}

.search-bar {
    text-align: center;
}

p {
    text-align: center;
}

.logo {
    padding: 0.9em;
    width: 3em;
    position: absolute;
    top: -0.8em;
    transition: all 1s ease 1s;
}

.navright {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* ######## */
/* CARROUSEL */

.swiper {
    margin: 1vw 0vw;
    overflow: hidden;
    position: relative;
}

.swiper .swiper-wrapper {
  display: flex;
  width: 100vw;
  height: 70%;
  padding: 1em 0em;
  transition: transform 0.5s ease;
  align-items: center;
}

.swiper-slide img{
    width: 100vw;
    height: 70vh;
    object-fit: contain;
}

.swiper-horizontal div{
    color: var(--main-color);
    align-content: center;
} 

.swiper-pagination span{
    background: var(--main-color);
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 20px;
}

.swiper-scrollbar div{
    background: #7a000078;
}

.swiper-scrollbar.swiper-scrollbar-horizontal{
    background: none;
}

/* ######## */
/* Marcas destacadas */
.brands.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0em;
    flex-wrap: wrap;
}

.brands h2{
    padding: 1em 2em;
}

.brands.logos .brand img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin: 1em;
    transition: all 0.5s ease 0.5s;
}

.brand p {
    transition: all 0.5s ease 0.5s;
}

.brand:hover p {
    font-size: 0px;
    transition: all 0.5s ease 0.5s;
}

.brands .brand img:hover{
    box-shadow: 0px 0px 15px var(--main-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 20ms;
}

.brands.logos .brand {
  margin: 2em;
  transition: all 0.3s ease;
  text-align: center;
}
/* ######## */
