:root {
    --main-color: #7A0000;
    --secondary-color: #FEC2DC;
    --main-bg-color: #F6EAEA;
    --white: #f1f1f1;
    --logo-font: "Meow Script", cursive;
    --font-weight: 400;
    --body-font: "LXGW WenKai Mono TC", monospace;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    font-weight: var(--font-weight);
    font-style: normal;
    color: var(--main-color);
}

main {
    background-color: var(--main-bg-color);
}

header {
    padding: 1em;
}
/* ### NAV */
nav{
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li {
    display: block;
}

a {
    text-decoration: none;
}

.navcenter {
    position: absolute;
    left: calc(50% - 72px);
}

li.cherry {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 144px;
    height: 50px;
    text-transform: capitalize;
    padding: 0em;
    background-color: var(--secondary-color);
    border-radius: 43%;
    box-shadow: 3px 2px 12px 1px var(--main-bg-color);
    border-radius: 0.6em;
}

.cherry {
    font-family: var(--logo-font);
    font-weight: var(--font-weight);
    font-style: normal;
}

li:hover {
    box-shadow: 3px 2px 12px 1px var(--secondary-color);
    border-radius: 0.6em;
    transition-duration: 0.5s, 4s;
    background-color: var(--secondary-color);
}

li:hover img.logo {
    transform: rotate(360deg);
    transition-duration: 1s;
    top: -0.5em;
    margin: 1em;
}

textarea {
    margin: 0em 15em;
    align-content: center;
    resize: none;
    overflow: hidden;
    width: 60vw;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 1em;
}

.search-bar {
    text-align: center;
}

p {
    text-align: center;
}

.logo {
    padding: 0.9em;
    width: 3em;
    position: absolute;
    top: -1.5em;
    transition: all 1s ease 1s;
}

.navright {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

ul li {
    text-transform: uppercase;
    padding: 1em;
    /* box-shadow: 3px 2px 12px 1px var(--main-bg-color); */
    border-radius: 0.6em;
}


/* ######## */
/* CARROUSEL */

.brand .swiper {
    padding: 3em;
    overflow: hidden;
    position: relative;
}

.swiper .swiper-wrapper {
  display: flex;
  width: 100vw;
  height: 70%;
  padding: 1em 0em;
  transition: transform 0.5s ease;
  flex-wrap: nowrap;
}

.swiper-slide img{
    height: 70vh;
    object-fit: contain;
}

.home-banners .home-slides{
    text-align: center;
    color: var(--main-color);
}

.swiper-pagination span{
    background: var(--main-color);
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    display: flex;
    bottom: 2em;
    height: 25px;
    padding: 0% 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.swiper-scrollbar div{
    background: #7a000078;
}

.swiper-scrollbar.swiper-scrollbar-horizontal{
    background: none;
}

/* ######## */
/* Marcas destacadas */
.brands.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0em;
    flex-wrap: wrap;
}

h2{
    padding: 1em 2em;
}

.brands.logos .brand img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin: 1em;
    transition: all 0.5s ease 0.5s;
}

.brand p {
    transition: all 0.5s ease 0.5s;
}

.brand:hover p {
    font-size: 0px;
    transition: all 0.5s ease 0.5s;
}

.brands .brand img:hover{
    box-shadow: 0px 0px 15px var(--main-color);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 20ms;
}

.brands.logos .brand {
  margin: 2em;
  transition: all 0.3s ease;
  text-align: center;
}
/* ######## */
/* ##TAB MARCAS### */
h3 {
    text-align: center;
    padding: 1em 0em;
}
/* ######## */

.navright>a {
    padding: 1em;
}

/* section div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
    max-width: 30vw;
    position: relative;
} */
   
.brand {
    margin: 1.5em;
}

/* .brand section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.brand section img {
    height: 70vh;
    margin: 0em auto;
}

h4 {
    position: absolute;
    bottom: 40px;
    right: 0px;
    background-color: black;
    padding: 0.5em;
    color: var(--main-bg-color);
}

.swiper-wrapper div{
    color: var(--main-color);
    text-align: end;
} 

